<div *ngIf="display" class="container-xl p-3 my-3 border rounded shadow" id="offercontainer">
    <div class="card-body">
        <h5 class="card-title">{{offer.header}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{offer.date | date: 'MMMM'}}</h6>
        <p class="card-text">{{offer.type1}} : {{offer.price | currency: 'EUR'}}</p>
        <button type="button" class="btn btn-outline-primary mr-1" (click)="edit()" [routerLink]="'/edit-offer'">Edit</button>
        <button type="button" class="btn btn-outline-primary" (click)="delete()" >Delete</button>
    </div>
</div>