#offercontainer:hover{
    border-color:darkgray !important;
    border-width: 2px !important;
}

sup {
    top: -.5em;
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}