<div class="container-xl p-3 my-3 border rounded shadow" id="offercontainer">
    <table class="table">
        <thead>
        <tr>
            <th scope="date">Date</th>
            <th scope="model_group">Model Group</th>
            <th scope="local_code">Local Vehicle Code</th>
            <th scope="header">Header</th>
            <th scope="legal">Legal</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{offer.date | date: 'MMMM'}}</td>
            <td>{{offer.model_group}}</td>
            <td>{{offer.local_code}}</td>
            <td>{{offer.header}}</td>
            <td>{{offer.legal}}</td>
        </tr>
        </tbody>
    </table>
</div>