<div class="container-xl p-3 my-3 border rounded shadow">
    <form (ngSubmit)="Login()" #userForm="ngForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" #email
              required
              [(ngModel)]="loginf.email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" #password
              required
              [(ngModel)]="loginf.password">
        </div>
        <button type="button" class="btn btn-outline-primary mr-1" (click)="Login()">Log in</button>
        <button type="button" class="btn btn-outline-primary mr-1">Sign up</button>
    </form>
</div>
<div class="container-xl p-3 my-3 rounded" *ngIf = "wrongcredentials">
    <div class="alert alert-warning p-3 my-3" role="alert" >
        Incorrect User or Password
    </div>
</div>