<div class="container-xl p-3 my-3 border">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="date">Date</label>
        <select type="text" name="date" class="form-control" #date
        required
        [(ngModel)]="offercf.date">
          <option *ngFor="let month of monthNames" [value]="month">{{month}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="model_group">Model Group</label>
        <select type="text" name="model_group" class="form-control" #model_group
        required
        [(ngModel)]="offercf.model_group" (ngModelChange)="onMgSelect(model_group.value)">
          <option *ngFor="let modelgroup of (modelgroups$ | async)" [value]="modelgroup.model_group">{{modelgroup.model_group}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="local_code">Local Vehicle Code</label>
        <select type="text" name="local_code" class="form-control" #local_code
        required
        [(ngModel)]="offercf.local_code" (ngModelChange)="onLvcSelect(local_code.value)">
          <option *ngFor="let localcode of (localcodes$ | async)" [value]="localcode.local_code">{{localcode.local_code}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nrp">Net Retail Price</label>
        <input type="text" name="nrp" class="form-control" #nrp
          required
          [(ngModel)]="offercf.nrp">
      </div>
      <div class="form-group">
        <label for="discount">Discount (%)</label>
        <input type="text" class="form-control" #discount
          required
          [(ngModel)]="offercf.discount" name="discount">
      </div>
      <button type="button" class="btn btn-outline-primary mr-1" (click)="newOffer()">Clear</button>
      <button type="button" class="btn btn-outline-primary mr-1" (click)="onSubmit()" [routerLink]="'/new-offer'">Submit</button>
      <button type="button" class="btn btn-outline-primary" [routerLink]="'/offers'">Cancel</button>
    </form>
  </div>
